<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <startup>
            
        </startup>
  <connectionStrings>
    <add name="SysConn" connectionString="Data Source =192.168.0.201;Initial Catalog=ERP;Persist Security Info=True;User ID=sa;Password=Capital@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SysConn2" connectionString="Data Source =192.168.0.201;Initial Catalog=TRAN;Persist Security Info=True;User ID=sa;Password=Capital@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>